
.header{
  position: fixed;
  top: 0;
  background-color: #503d49;
  height: 60px;
  width: 100%;
  z-index: 1;
  min-width: 700px;
}

.header__line{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a{
  cursor: pointer;
}

.header__login-button button{
  background-color: #c4b0ba;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #7a8192;
}